@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-18rem);
    }

    80% {
        transform: translateX(1rem);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes mobileIn {
    0% {
        transform: translate(-260%, -50%);
        opacity: 0;
    }

    100% {
        transform: translate(-50%, -50%);
        opacity: 1;
    }
}
@keyframes mobileOut{
    0% {
        transform: translate(-50%, -50%);
        opacity: 1;
    }

    100% {
        transform: translate(-260%, -50%);
        opacity: 0;
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(18rem);
    }

    80% {
        transform: translateX(-1rem);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeInBottom {
    0% {
        opacity: 0;
        transform: translateY(4rem);
    }

    80% {
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}