
body {
    font-family: 'Lato', 'Arial', sans-serif;
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.7;
    color: $color-grey-dark; 
}

.heading-primary {
    font-size: 4rem;
    color: $color-primary-dark;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    
}

.heading-secondary {
    
    font-size: 2.5rem;
    color: $color-primary-dark;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 3px;
}

.heading-section {
    text-transform: capitalize;
    text-align: center;
    font-size: 3.4rem;

    &:after {
        content: " ";
        display: block;
        width: 20rem;
        height: 2px;
        background-color: $color-primary;
        margin: 0 auto;
    }
}

.heading-small {
    font-size: 1.8rem;
    margin-bottom: 1rem;

}

.paragraph {
    font-size: 1.8rem;
    text-align: justify;
}