// COLORS
$color-primary: #3CB5B8;
$color-primary-light: #50AFA0;
$color-primary-super-light: rgb(174, 226, 204);
$color-primary-dark: #1F575F;

$color-secondary: #296F7D;

$color-grey-dark: #333;
$color-white: rgb(255, 255, 255);
$color-black: #000;
$color-grey-light: rgb(244, 244, 244);
$color-grey-medium: rgb(221, 221, 221);
$color-grey: #555;

$color-facebook: #3b5998;
$color-instagram: #c32aa3;


// GRID
$grid-width: 114rem;
$gutter-vertical: 2rem;
$gutter-horizontal: 6rem;
$gutter-section-start: 5rem;
$gutter-section-end: 11rem;



