.btn {

    &,
    &:link,
    &:visited {
        display: inline-block;
        
        padding: 1.5rem 7rem;
        border-radius: 5rem;
        text-decoration: none;
        text-transform: uppercase;
        margin-right: 3rem;
        margin-left: 3rem;
        letter-spacing: 1px;

        //burron
        cursor: pointer;
        font: inherit;
        font-size: 2rem;
        font-weight: 500;
        
    }

    @include respond(phone) {
        &,
        &:link,
        &:visited {
            display: block;
            width: 30rem;
            margin: 0 auto 2rem auto;
        }
    }

    @include respond(small-phone) {
        &,
        &:link,
        &:visited {
            width: 28rem;
            font-size: 1.8rem;
            padding: 1.3rem 5rem;
        }

        &--short {
            width: 20rem;
        }
    }
    
    @include respond(small-phone-land) {
        &,
        &:link,
        &:visited {
            display: inline-block;
            width: auto;
            margin: 0;
            margin-right: 3rem;
            margin-left: 3rem;
            font-size: 1.8rem;
            padding: 1rem 5rem;
        }
    }

    &--full-2 {
        background-color: $color-primary;
        color: $color-white;
        transition: opacity 0.2s, transform 0.2s; 
        border: none;

        @include respond(small-phone) { 
            width: 20rem;
        }

        &:hover {
            transform: translateY(-0.4rem);
            background-color: $color-primary-medium;
        }

        &:focus {
            outline: none;
            opacity: 0;
        }
    }

    &--full {
        &,
        &:link,
        &:visited {
            background-color: $color-primary;
            color: $color-white;
            transition: opacity 0.2s, transform 0.2s; 
            border: none;
        }

        &:hover {
            transform: translateY(-0.4rem);
            background-color: $color-primary-medium;
        }

        &:active,
        &:focus {
            outline: none;
            transform: translateY(0.2rem);
        }

    }

    &--ghost {
        font-weight: 700;
        background-color: rgba($color-primary, 0.01);
        color: $color-white;
        border: 2px solid $color-primary;
        transition: opacity 0.2s, transform 0.2s;      

        &:hover {
            background-color: $color-primary;
            transform: translateY(-0.4rem);
            color: $color-white;
        }

        &:active {
            transform: translateY(0.2rem);
        }
    }

    &--full-small {
        &,
        &:link,
        &:visited {
            background-color: $color-primary; /* Green */
            border: none;
            color: white;
            padding: 0.8rem 1.5rem;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 1.4rem;
            margin: 1rem 0 1rem 0;
            transition: opacity 0.2s, transform 0.2s;      

            @include respond(phone) {
                padding: 0.8rem 1rem;
                width: 100%;
            }
        }

        

        &:hover {
            background-color: $color-primary-medium;
        }
    }
}