.btn {
    display: inline-block;
    font-size: 2rem;
    font-weight: 500;
    padding: 1.5rem 7rem;
    border-radius: 5rem;
    text-decoration: none;
    text-transform: uppercase;
    margin-right: 3rem;
    margin-left: 3rem;
    letter-spacing: 1px;

    &--full {
        background-color: $color-primary;
        color: $color-white;
        transition: all 0.2s;

        &:hover {

            transform: translateY(-0.4rem);
        }

        &:active {
            transform: translateY(0.2rem);
        }

    }

    &--ghost {
        font-weight: 700;
        background-color: transparent;
        color: $color-primary;
        border: 2px solid $color-primary;
        transition: all 0.2s;

        &:hover {
            background-color: $color-primary;
            transform: translateY(-0.4rem);
            color: $color-white;
        }

        &:active {
            transform: translateY(0.2rem);
        }
    }
}