.socials {
    list-style-type: none;

        li {
            padding: 1rem 3rem;
            display: inline-block;
            font-size: 3.6rem;

            @include respond(tab-port) {
                font-size: 5rem;
                padding: 0.2rem 2rem;
                height: 5rem;
            }

            @include respond(phone) {
                font-size: 4rem;
                padding: 1rem 1rem;
            }
            @include respond(small-phone) {
                font-size: 3.6rem;
                padding: 1.5rem 0.6rem;
            }
        }

    &__link {
        text-decoration: none;
        color: $color-grey-dark;
        font-size: inherit;
        
    }

    &__fb {
        transition: all 0.2s;
        &:hover {
            color: $color-facebook;
        }
    }
    &__inst {
        transition: all 0.2s;
        &:hover {
            color: $color-instagram;
        }
    }


    &--footer {
        list-style-type: none;
        text-align: center;

        
        .socials__link {
            text-decoration: none;
            color: $color-white;
            font-size: 3.6rem;
            
        }

        .socials__fb {
            transition: all 0.2s;
            &:hover {
                color: $color-facebook-light;
            }
        }
    
    }
}